@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ------------------------------------------------------------Colours */

.slay-orange {
    color: #ED772D;
}

.slay-white {
    color: #f5f2f5;
}

.slay-black {
    color: #0c0402;
}

.slay-grey {
    color: #44403d;
}

.slay-blue {
    color: #3286bf;
}

.slay-green {
    color: #80c257;
}

/* ------------------------------------------------------------Header/Nav */

.bg-nav {
    background-color: #0c0402;
}

.btn-secondary {
    background-color: #44403d;
    border-color: #44403d;
}

.nav-items:hover {
    color:#e3582b;
    text-decoration:none;
}

.company-name {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

/* ------------------------------------------------------------Paddings/margins/text */

h1,h2,h3,h4,h5 {
    font-family: "Oswald", sans-serif;
    margin: 0;
}

p, a {
    font-family: "EB Garamond", sans-serif;
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #f5f2f5;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.generic-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

.lang-btn-mobile {
        position:absolute; top:1; right:0;
        margin-right: 5px;
    }

/* ------------------------------------------------------------Hero Image */

.hero-image {
  width:100%;
  height:500px;
  background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.hero-image h5 {
  color:white;
  text-shadow:2px 2px #333;
}

/* ------------------------------------------------------------Footer */

footer {
    background-color: #0c0402;
    color: #f5f2f5;
    min-height: 60px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
    
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #f5f2f5;
    background: #44403d;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

/* ------------------------------------------------------------Three Reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #e67e22;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/* ------------------------------------------------------------Contact Form */

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;    
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;    
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #f5f2f5;
    background-color: #ea4610;
}


/* ------------------------------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;     
    }

    .social-links {
    padding-bottom: 15px;
    float:left;
    }


}